

figure{
    width:100%;
}

figure .preview {
    position:relative;
    margin:0;
    background:gold;
    line-height:0;
    text-align:center;
    border: 1px solid #CCC;
}

div.preview > .composant {
    position:absolute !important;
    top: 0; bottom: 0; left: 0; right: 0;
    color: white;
    text-align: center;
    color:white;
    text-align: center;
    vertical-align: middle;
    cursor: move;
}

div.preview .composant a{
    color:#FFF;
    font-family: Roboto;
    font-size: 15px;
    background: rgba(0,0, 0, 0.6);
}

div.preview > .composant.picture{
    background: rgba(255, 0, 0, 0.7);
}

div.preview > .composant.text{
    background: rgba(0, 255, 0, 0.7);
}

.ui-rotatable-handle{
    height: 16px;
    width: 12px;
    cursor: pointer;
    background-image: url(../img/rotate.png);
    background-size: 100%;
    left: 2px;
    bottom: 2px;
}

.colorpicker-element .add-on i, .colorpicker-element .input-group-addon i{
    border:1px solid #000;
}