
@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-Regular.otf');
}
@font-face {
    font-family: montserrat_bold;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.otf');
}
@font-face{
    font-family: montserrat_black;
    src: url('../fonts/montserrat/Montserrat-Black.otf');
}

@font-face{
    font-family: impact;
    src: url('../fonts/impact.ttf');
}

.navbar{
    box-shadow: 0 0 4px 4px #ddd;
    padding: 10px 0px 0px 0px;
    height:60px;
}
.navbar .navbar-nav > li > a {
    padding: 10px 0px;
    margin: 0px;
}

.navbar-header{
    float:left;
}

.navbar-right{
    float:right;
    display: inline-flex;;
}

.logo-container .logo{
    overflow: hidden;
    width: 200px;
    float: left;
}

.logo-container .brand{
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    float: left;
    margin-left: 10px;
    width: 100px;
    height: 30px;
}
.logo-container{
    margin-top: 5px;
}
.logo-container .logo img{
    width: 100%;
    max-width: 200px;
}
.navbar-small .logo-container .brand{
    color: #333333;
}

.logo-container .fb-like.fb_iframe_widget span{
    vertical-align: middle !important;
}

.card-footer .hidden-xs .btn-primary, .card[data-color="nude-gray"] .card-footer .btn-primary{
    margin-right:15px;
}

.card-footer .hidden-xs .btn-info, .card[data-color="nude-gray"] .card-footer .info{
    margin-left:15px;
}

.card[data-color="white"] .title{
    text-align: center;
    color:#252422;
}

.card.tag .header.header-with-icon{
    height: 100%;
}

.img-select{
    margin:0px;
    margin-right:15px;
}

#friendModal .dropdown-menu{
    background: #7A9EA1;
}

#friendModal .dropdown-menu > li > a:hover, #friendModal .dropdown-menu > li > a:focus{
    background: #337ab7;
    color: #FFF;
}

#friendModal .dropdown-menu > li > a{
    color: #FFF;
}

.share .btn{
    margin: 20px 0px;
}

.card .title{
    min-height:50px;
}

.alert{
    margin-bottom: 0px;
}

.alert .alert-icon{
    top:70%;
}

.vertical-center{
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.navbar-right li .btn-facebook.btn-fill a{
    color:#FFF;
}

.card.quizz .content p{
    font-size:14px;
    color:#000;
}

.card.quizz .content h5{
    font-size: 18px;
    color:#000;
    text-align: left;
}

.section-white-gray, .section-nude-gray{
    background: #FAFAFA;
}

.dropdown-menu{
    background: #FEFEFE;
}

@media (min-width: 767px) {
    .navbar-nav > li > .dropdown-menu:after, .dropdown .dropdown-menu:after {
        border-bottom: 11px solid #FEFEFE;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        right: 12px;
        top: -10px;
    }
}
.footer-transparent::after, .subscribe-line-transparent::after{
    background: transparent;
}

.footer-transparent{
    background: #f5f8fa;
    border-top:1px solid #eee;
    color:#999;
}

#share_btn{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0px;
    background: #3b5998 !important;
}

.share_bt {
    display: inline-block;
    margin: 5px 0 0px 0;
    padding: 12px 20px 14px 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #344EA5;
    border: 2px solid #3E568B;
    border-radius: 6px;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.25);
    position: relative;
    overflow: hidden;
    background-image: url('../img/sharebt_fb_bg.jpg');
    background-repeat: no-repeat;
    background-position: 0px center;
}

.share_bt:hover{
    opacity: 0.8;
}

.sbt_twitter {
    background-color: #37A3D9;
    margin-left: 6px!important;
    padding-left: 15px!important;
    padding-right: 15px;
    border-color: #37A3D9;
    background-image: url('../img/sharebt_tw_bg.jpg');
}

.sbt_wa {
    background-color: #25d366;
    margin-left: 6px!important;
    padding-left: 15px!important;
    padding-right: 15px;
    border-color: #25d366;
    background-image: url('../img/sharebt_bg_wa.jpg');
}

.share_bt_fb {
    width: 30px;
    height: 30px;
    vertical-align: -8px;
    margin: 0 15px 0 0;
    position: relative;
}

.sbtfb_twitter {
    margin-right: 0px;
}

.retake_test_btn{
    background-color: #999;
    background-image: url('../img/retake_test_bg_3.jpg');
    border: 0;
    color:#000;
}


/* Mobile share btn */

#share_btn_mb{
    height: 50px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0px;
    background: #3b5998 !important;
}

.share_bt_mb {
    display: inline-block;
    margin: 5px 0 0px 0;
    padding: 12px 10px 14px 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #344EA5;
    border: 2px solid #3E568B;
    border-radius: 6px;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.25);
    position: relative;
    overflow: hidden;
    background-image: url('../img/sharebt_fb_bg.jpg');
    background-repeat: no-repeat;
    background-position: 0px center;
}

.sbt_twitter_mb {
    background-color: #37A3D9;
    margin-left: 6px!important;
    padding-left: 15px!important;
    padding-right: 15px;
    border-color: #37A3D9;
    background-image: url('../img/sharebt_tw_bg.jpg');
}

.sbt_wa_mb {
    background-color: #25d366;
    margin-left: 6px!important;
    padding-left: 15px!important;
    padding-right: 15px;
    border-color: #25d366;
    background-image: url('../img/sharebt_bg_wa.jpg');
}

.share_bt_fb_mb {
    width: 25px;
    height: 25px;
    vertical-align: -8px;
    margin: 0 15px 0 0;
    position: relative;
}

.sbtfb_twitter_mb {
    margin-right: 0px;
}

.retake_test_btn_mb{
    background-color: #999;
    background-image: url('../img/retake_test_bg_3.jpg');
    border: 0;
    color:#000;
}
/* End mobile */
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.btn-fb{
    background: #3b5998; color:#fff; border:0px; border-radius: 30px !important; padding:15px 30px; width: 50%; font-size: 20px; border: 2px solid #2f4779 !important;
}

@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn-fb{
        background: #3b5998; color:#fff; border:0px; border-radius: 30px !important; padding:15px 30px; width: 80%; font-size:15px;
    }

}

dropdown-toggle:hover{
    background: #66615B;
}

html,h1,h2,h3,h4,h5,h6,p,span,form,input,a{
    font-family: montserrat !important
}

.thumb_container:hover {
    background-color: #fbf6d9;
}

.thumb_container {
    transition: background 0.5s linear;
}

.btn-2:hover, .btn-2:active {
    letter-spacing: 5px;
}

#btn_load_more:hover {
    background: #b82b31 !important;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: #e7363e;
}

.bootstrap-select.dropup.open .dropdown-menu{
    margin-bottom: -50px;
}